@{
    ViewBag.Title = "Map";
}

@Styles.Render("~/Content/map")

<div id="map"></div>

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    @Scripts.Render("~/bundles/gmaps-libs")
    <script src="~/scripts/mapCluster.js"></script>
    @*@Scripts.Render("~/bundles/map")*@
}




